<form name="newReview">
  <fieldset>
    <legend>
      New Review
    </legend>
      <div class="control-group">
        <label class="control-label">
          Movie
        </label>
        <div class="controls">
            <input type="text"
                   name="review[movie]"
                   ng-model="review.movie"
                   class="text_field"
                   required>
          <span ng-show="newReview.movie.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Email
        </label>
        <div class="controls">
            <input type="text"
                   name="review[email]"
                   ng-model="review.email"
                   class="text_field"
                   required>
          <span ng-show="newReview.email.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Rating
        </label>
        <div class="controls">
            <input type="number"
                   name="review[rating]"
                   ng-model="review.rating"
                   class="number_field"
                   required>
          <span ng-show="newReview.rating.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Comment
        </label>
        <div class="controls">
            <input type="text"
                   name="review[comment]"
                   ng-model="review.comment"
                   class="text_area"
                   required>
          <span ng-show="newReview.comment.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
    <div class="form-actions">
      <button class="btn btn-success" ng-click="save()"
        ng-disabled="isClean() || newReview.$invalid">
        <i class="icon-save"></i> Save
      </button>
      <button ng-click="destroy()"
              ng-show="review.id"
              class="btn btn-danger">
              <i class="icon-trash"></i> Delete
      </button>
      <a href="/reviews" class="btn">Back to reviews</a>
    </div>
  </fieldset>
</form>

